# Bibliotecas Importantes

In [4]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

# Sobre os dados:

In [2]:
data = pd.read_csv('pesos.csv')
data.head()

         Data  Semana  Peso (kg)
0  05/01/2018       1      108.8
1  12/01/2018       2      107.5
2  20/01/2018       3      107.6
3  26/01/2018       4      107.3
4  03/02/2018       5      106.5

# Limpeza Inicial dos Dados

In [3]:
# Convertendo o índice para o número da semana
data.index = np.arange(1, len(data) + 1)
data = data.drop(['Semana'],axis=1)

In [9]:
# Criando a coluna com a variação de peso ocorrida naquela semana
variacao = data['Peso (kg)'].diff()
data['Variação'] = variacao

In [11]:
# Convertendo dados de 'Data' para datetime
data['Data'] = pd.to_datetime(data['Data'],format='%d/%m/%Y')